CompileFlags:
  CompilationDatabase: build
  
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  
  # Suppress errors from system headers
  Suppress:
    - ".*cuda_wrappers.*"
    - ".*include/c\\+\\+.*"
    - ".*hip/hip_.*"
    
Index:
  Background: Build
  
InlayHints:
  Enabled: No
